input {
  font-size: 18px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin-left: 30px;
  text-align: left;
}

ul {
  color: gray;
  list-style-type: none;
  padding-left: 20px;
}

ul li:hover {
  color: yellow;
  cursor: pointer;
}

.container {
  height: 100%;
  display: flex;
}

#list-stations {
  background: black;
  height: 100%;
  min-width: 470px;
  line-height: 35px;
}

.filter-box {
  width: 100%;
}

#station-location-filter {
  width: 100%;
  height: 32px;
}

.map-box {
  height: 100%;
  width: 100%;
}

.header-bar {
  background: gray;
  min-height: 80px;
  width: 100%;
}

#map {
  height: 92%;
  width: 100%;
}

#menu {
  background: gray;
  margin-left: 30px;
  border: 0;
  outline: 0;
}

#menu:hover {
  cursor: pointer;
}

#statement {
  position: absolute;
  right: 20px;
}

#menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.text {
  font-size: 12px;
}

@media screen and (max-width:600px) {
  #list-stations {
    display: none;
  }
}